<div class=" content">
  <br><br><br><br>
  <div class=" row">
    <div class=" col-12">
      <div class=" card ">
        <div class=" card-header">
          <div class=" row">
              <div class=" col-sm-6">
                <div class=" btn-group btn-group-toggle float-left" data-toggle="buttons">
                  <label class=" btn btn-sm btn-neutral btn-simple">
                    <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">
                    Software Engineer
                  </span>
                    <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-single-02"> </i>
                  </span>
                  </label>
                  <label class=" btn btn-sm btn-neutral btn-simple">
                    <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">
                    CS Grad Student
                  </span>
                    <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-gift-2"> </i>
                  </span>
                  </label>
                  <label class=" btn btn-sm btn-neutral btn-simple">
                    <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">
                    Traveler
                  </span>
                    <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-tap-02"> </i>
                  </span>
                  </label>
                  <label class=" btn btn-sm btn-neutral btn-simple">
                    <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">
                    Foodie
                  </span>
                    <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-tap-02"> </i>
                  </span>
                  </label>
                </div>
              </div>
          </div>
          </div>
        <div class=" card-body">
            <h2 class=" card-title">
              Hi, I am Omkar Hatwalne</h2>
          <br>
          <p>
            I have completed Master of Science in Computer Science from SUNY Binghamton University.
            I am passionate about technology and always open to learning new tech.
            I  primarily code in Python and Java. I am fascinated by Cloud computing, so I always try to incorporate
            AWS with my coding practices. I am currently looking for full-time opportunities starting in July 2020.
          </p><br>
          <p>
            I believe coding and music go hand in hand. Whenever I am not programming, I go for a long walk with my
            headphones on <span class="tim-icons icon-satisfied"></span>, play Defense of the Ancients or Age of Empires games online. I am a social person and
            always ready to meet a new human being. I love to solve problems, discuss food recipes, and debate over
            theology !!
          </p>
          <br>
          <a class="btn text-white btn-xl js-scroll-trigger btn-success" href="https://github.com/omkarhatwalne/omkarhatwalne.github.io/raw/master/Omkar_Hatwalne_Resume.pdf">DOWNLOAD RESUME</a>
        </div>
      </div>
    </div>
  </div>
  </div>
