
<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card ">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">Student Assistant(Oct 2019 - May 2020)</h5>
              <h2 class=" card-title">
                Binghamton University, Information Technology Services</h2>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <ul>
            <li>
              Designed data processor layer for Binghamton University in Python which performs validation,
              curation, and reroutes reported issue data to appropriate domain.
            </li>
            <li>
              Created data models and fields in Splunk Enterprise for search time mapping of received log,
              Extended Common Information Model (CIM) as add-on for data extraction and identification.
            </li>
            <li>
              Created workflows for incident response team to handle service requests.
            </li>
            <li>
              Integrated Amazon Web Service – Simple Storage Service for storage of routed reports.
            </li>
            <li>
              Technologies Used : Python, Splunk Enterprise, AWS, JSON.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-12">
      <div class=" card ">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">Associate Consultant(Jun 2017 - Jul 2018)</h5>
              <h2 class=" card-title">
                Bristlecone Inc
              </h2>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <ul>
            <li>
              Developed product Connector to enable a transaction between e-commerce marketplaces and Enterprise
              resource planning using Java, JSON, and XML parser. Cooperated with 5 developers to design application
              architecture with Maven.
            </li>
            <li>
              Led team of 3 developers to integrate AWS Simple Storage Service (S3) and Simple Queue Service (SQS)
              for storage and synchronization of documents. Improved functionality and performance of Connector by
              80%.
            </li>
            <li>
              Validated API response with POSTMAN tool; Utilized REST template for API execution to resolve
              design-related issues.
            </li>
            <li>
              Technologies Used : Java, AWS, JSON, Spring REST, POSTMAN, JaCoCo.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    <div class=" row">
      <div class=" col-12">
        <div class=" card ">
          <div class=" card-header">
            <div class=" row">
              <div class=" col-sm-6 text-left">
                <h5 class=" card-category">Junior Software Engineer(Feb 2015 - Aug 2016)</h5>
                <h2 class=" card-title">
                  Zensar Technologies
                </h2>
              </div>
            </div>
          </div>
          <div class=" card-body">
            <ul>
              <li>
                Collaborated with team of 8 to re-engineer Vendor Registration Portal by implementing
                microservices with Python and SQL to manage an application workflow. Performed validation
                on user-provided data.
              </li>
              <li>
                Managed in-house python application integration with AWS EC2, S3, VPC, and ELB to improve
                scalability and performance by 40%.
              </li>
              <li>
                Performed unit testing using Mockito to approve test cases for application usage scenarios
                for better component development with a test coverage of 90%.
              </li>
              <li>
                Technologies Used : Python, AWS, SQL, Mockito.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
