<div class="logo">
  <a href="#" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/omkar.jpeg" />
    </div>
  </a>
  <a href="#" class="simple-text logo-normal">
    <b>
    Omkar Hatwalne
    </b>
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <h5><b>{{ menuItem.title }}</b></h5>
      </a>
    </li>
  </ul>
</div>
